<%= form_with(model: manga) do |form| %>
  <div>
    <%= form.label :external_id, style: "display: block" %>
    <%= form.text_field :external_id, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
