<div id="<%= dom_id notifier %>">
  <p>
    <strong>Name:</strong>
    <%= link_to notifier.name, notifier %>
  </p>

  <p>
    <strong>Webhook url:</strong>
    <%= notifier.webhook_url %>
  </p>

  <hr>
</div>
